@layer theme, base, antd, components, utilities;

@import '@xyflow/react/dist/style.css';

@import 'tailwindcss';

.react-flow__handle:after {
  content: "";
  --tw-bg-opacity: 1;
  background-color: #2970ff;
  width: 2px;
  height: 10px;
  display: block;
  margin: 3px 0 3px 12px;
}

.react-flow__handle-left:after {
  margin: 3px 0 3px 2px;
}

.react-flow__node.selected .lucide-circle {
  opacity: 1;
  pointer-events: auto;
}

.react-flow__node {
  @apply rounded-xl
}
